body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}


.container {
    margin-top: 100px; /* Ajustar para dar espacio a la navbar fija */
}

.form-section {
    margin-bottom: 40px;
}

form .form-label {
    font-weight: bold;
}

form .form-control {
    margin-bottom: 10px;
}

form button {
    margin-top: 20px;
}


@media (max-width: 767px) {
    .offcanvas-end {
        max-width: 60% !important; 
        background-color: rgba(255, 255, 255, 0.9) !important; /* Ajusta la transparencia */
    }
    .navbar-brand {
        font-size: 1rem; /* Ajusta el tamaño de la fuente si es necesario */
        margin-right: 0;
    }
    .navbar-toggler {
        padding: 0.25rem 0.5rem;
    }
    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Ajusta la opacidad del fondo del offcanvas */
.offcanvas-backdrop {
    background-color: rgba(0, 0, 0, 0.5) !important; /* Ajusta la transparencia del fondo */
}

.offcanvas-end .offcanvas-body {
    padding: 20px; /* Ajusta el padding según sea necesario */
}



.card {
    border: 2px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-header {
    background-color: #007bff;
    color: white;
    border-bottom: 2px solid #0056b3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-body {
    padding: 20px;
}
.card-body h4 {
    margin-top: 20px;
    color: #007bff;
}
.img-fluid {
    max-width: 80%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.d-flex {
    justify-content: center;
}


